{% if output.popular %}
<div class="popular">
    <h1 class="title">Most popular topics over time</h1>
    <ul class="topics">
        {% for topic in output.popular|slice(0, 20) %}
        <li class="topic topic-{{ loop.index }}">
            <a href="#!{{ topic.query }}"><span>#{{ topic.keyword|replace({'#':''}) }}</span> <small>{{ topic.volume }}</small></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="footer">
    <small>&copy; {{ "now"|date("Y") }} <a href="//simonelippolis.com">Simone Lippolis</a>. Original design inspired by <a href="//www.behance.net/marcolama">Marco La Mantia</a>.<br>
	Background images have been selected from the huge <a href="http://unsplash.com">Unsplash</a> catalog, &copy; of the respective owners.<br>
	{# Read more about this project on <a h r e f="#">Medium</a>, or clone the source code from <a h r e f="#">GitHub</a>. #}</small>
</div>

{% verbatim %}
<script id="list-template" type="x-tmpl-mustache">
    <ul class="articles">
        {{#articles}}
        <li class="article" id="article-{{id}}">
            <article>
                <a href="{{url}}" target="_blank" class="outlink">
                    <h2>{{source}}{{#short_published}} - <span>{{short_published}}</span>{{/short_published}}</h2>
                    <h1><span>{{title}}</span></h1>
                    {{#description}}
                    <p>{{description}}</p>
                    {{/description}} {{#image}}
                    <figure class="image">
                        <div class="image" style="background-image:url(/image/?i={{image}}&r={{url}});"></div>
                    </figure>
                    {{/image}}
                </a>
            </article>
        </li>
        {{/articles}}
    </ul>
</script>
{% endverbatim %} {#
<figure class="image">
    <div class="image" style="background-image:url(/image/?i={{image}}&r={{url}});"></div>
</figure> #}

<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXXXXXXXXXXXXXXXXXX', 'auto'); //<ADD YOUR GOOGLE ANALYTICS HANDLER HERE!>//
    ga('send', 'pageview');

    (function ready() {
        var trackOutboundLink = function trackOutboundLink(url) {
                ga('send', 'event', 'outbound', 'click', url, {
                    'transport': 'beacon',
                    'hitCallback': function() {
                        document.location = url;
                    }
                });
            },
            loadData = function loadData(link, done, error) {
                var request = new XMLHttpRequest();

                request.open('GET', link, true);
                request.onload = function() {
                    if (this.status >= 200 && this.status < 400) {
                        if (typeof done === 'function') {
                            done(JSON.parse(this.response));
                        }
                    } else {

                    }
                };

                request.onerror = function() {
                    if (typeof error === 'function') {
                        error();
                    }
                };

                request.send();
            },
            close = function close(e) {
                if (e !== undefined && e.preventDefault !== undefined && typeof e.preventDefault === 'function') {
                    e.preventDefault();
                }
                ga('set', 'page', '/');
                ga('send', 'pageview');
                list.classList.remove('ready');
                document.documentElement.classList.remove('detail');
                document.documentElement.classList.remove('out');
                setTimeout(
                    function timeout() {
                        list.innerHTML = '';
                        title.innerHTML = '';
                        window.location.href = home + "#!";
                        document.title = pageTitle;
                        window.scrollTo(0, 0);
                    },
                    250
                )
            },
            open = function open(query) {
                var link = "";
                if (query) {
                    link = home + '/browse/' + query;
                }
                if (link !== null && link !== undefined && link !== "") {
                    ga('set', 'page', link);
                    ga('send', 'pageview');
                    loadData(
                        link,
                        function done(data) {
                            var output = {
                                    "articles": []
                                },
                                rendered = '';
                            list.innerHTML = '';
                            title.innerHTML = '#' + data.page.title.replace(/#/ig, '');
                            document.title = data.page.title + ' | ' + pageTitle;
                            for (article in data.articles) {

                                if (article == 0 || article == 7) {
                                    output.articles.push(data.articles[article]);
                                    rendered = Mustache.render(template, output);
                                    list.innerHTML += rendered;
                                    rendered = '';
                                    output.articles = [];
                                } else if (article < 3) {
                                    output.articles.push(data.articles[article]);
                                } else if (article == 3) {
                                    rendered = Mustache.render(template, output);
                                    list.innerHTML += rendered;
                                    rendered = '';
                                    output.articles = [data.articles[article]];
                                } else if (article == 4) {
                                    output.articles.push(data.articles[article]);
                                    rendered = Mustache.render(template, output);
                                    list.innerHTML += rendered;
                                    rendered = '';
                                    output.articles = [];
                                } else if (article % 3 == 0) {
                                    output.articles.push(data.articles[article]);
                                    rendered = Mustache.render(template, output);
                                    list.innerHTML += rendered;
                                    rendered = '';
                                    output.articles = [];
                                } else {
                                    output.articles.push(data.articles[article]);
                                }
                            }
                            rendered = Mustache.render(template, output);
                            list.innerHTML += rendered;
                            list.classList.add('ready');
                        },
                        function error() {
                            alert('Error');
                        }
                    );

                    document.documentElement.classList.add('out');

                    setTimeout(
                        function timeout() {
                            window.location.href = home + "#!" + query;
                            document.documentElement.classList.add('detail');
                            window.scrollTo(0, 0);
                        }, 250
                    );
                }

            },
            navigate = function navigate(e) {
                var urlParts = window.location.href.split('#!');
                if (urlParts.length > 1 && urlParts[1].length == 0) {
                    close();
                } else if (urlParts.length > 1 && urlParts[1].length > 0) {
                    open(urlParts[1]);
                } else {
                    window.location.href = home + "#!";
                }
            };

        if (document.querySelector('.home') !== null) {
            var cover = document.querySelector('#cover'),
                bar = document.querySelector('#bar'),
                list = document.querySelector('#list'),
                title = document.querySelector('#topic-title'),
                pageTitle = document.title,
                template = document.querySelector('#list-template').innerHTML,
                hash = '';

            navigate();
            cover.style['background-image'] = 'url({{ output.properties.theme_url }}/img/' + imgS + ')';
            bar.style['background-image'] = 'url({{ output.properties.theme_url }}/img/' + imgS + ')';
            bar.addEventListener('click', close, false);
            window.addEventListener('hashchange', navigate, false);

            var coverBackground = new Image();
            coverBackground.addEventListener("load", function() {
                console.log('X');
                cover.style['background-image'] = 'url({{ output.properties.theme_url }}/img/' + img + ')';
                bar.style['background-image'] = 'url({{ output.properties.theme_url }}/img/' + img + ')';
            }, false);
            coverBackground.src = '{{ output.properties.theme_url }}/img/' + img;

            Mustache.parse(template);
        }
    }())
</script>