<!doctype html>
<html lang="en" data-run-id="{{output.run_id}}">
	<head>
		{% include '_head.html' %}
	</head>
	<body class="home">
		{% include '_header.html' %}
		{% if output.topics %}
		<div class="cover" id="cover">
			<div class="content">
				<h1 class="title">Hot right now</h1>
				<ul class="topics">
					{% for topic in output.topics|slice(0, 7) %}
					<li class="topic topic-{{ loop.index }}">
						<a href="#!{{ topic.query }}"><span>#{{ topic.keyword|replace({'#':''}) }}</span> <small>{{ topic.volume }}</small></a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="bar" id="bar">
			<h1 class="topic-title" id="topic-title"></h1>
		</div>
		<div class="list" id="list">

		</div>
		{% else %}
		<p>Bot is scanning</p>
		{% endif %}
		{% include '_footer.html' %}
	</body>
</html>
	